#home_view {
  background-color: #494747;
  color: #f1e4d3;
  height: 100%;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
}

h2 {
  text-align: center;
}

.button {
  background-color: #5aa85c;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

#welcome_container {
  width: 50%;
  margin: auto;
}

#welcome_container img {
  background-color: opacity;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 350px;
  width: 570px;
}

#button_div {
  padding-top: 10px;
  width: 37%;
  margin: auto;
  display: flex;
}
