footer {
  background-color: #f1e4d3 !important;
  color: black !important;
}

footer p{
  color: black;
  text-align: center;
}

footer {
  padding: 0.5em;
  width: 100%;
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
}
/* 
footer {
  position: unset;
} */
