header {
  background-color: #f1e4d3;
  color: black;
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}

header h1 {
  flex: 1 1 15px;
}

header nav {
  margin: 1em;
}

a img {
  padding: 9px;
  width: 50px;
  height: 30px;
}

.nav_buttons > a:hover {
  cursor: pointer;
  color: rgb(177, 171, 88);
  font-weight: bolder;
}

.home_header:hover {
  color: rgb(177, 171, 88);
}

a {
  margin: 0.2em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

header p {
  margin-top: 23px;
  font-weight: bold;
  font-size: medium;
}

.home_header {
  color: black;
  /* float: left; */
  font-size: medium;
  /* padding-right: 970px; */
}

.nav_buttons a {
  color: black;
  font-size: small;
  margin-top: 7px;
  margin-right: 7px;
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-size: medium;


  /* font-weight: bolder; */
}

